// Navigation Styles here
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    width:120%;
    margin-left:-75px;

    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-evenly;
    }

    nav {
        width: 40%;
        display: flex;
        justify-content: space-between;

        @media @mobile {
            width: 100%;
            justify-content: space-evenly;
            margin-top: 20px;
        }
    }
    a{
        text-decoration: none;
        color: @shark;
        font-size: 1.6rem;
    }

}
